{% extends 'base.html.twig' %}

{% block body %}
    {% block fos_user_content %}
        {% trans_default_domain 'FOSUserBundle' %}

            <div class="col-xs-12 text-center">
              <h1>S'inscrire</h1>
            </div>
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register col-md-6 col-md-offset-3'}}) }}
            {{ form_widget(form) }}
            <div class="col-xs-12 no-padding littleMarginTop">
                <input type="submit" value="{{ 'Confirmer'|trans }}" />
            </div>
            {{ form_end(form) }}

    {% endblock fos_user_content %}

{% endblock %}
