/* GENERAL */
body,html{
    padding:0;
    margin:0;
    background:url('../img/background.png');
    background-size: cover;
    background-position: top;
}
p{
  color:black;
}
form{
  margin-bottom: 100px;
}
h4{
  color:#333;
}
a{
  color:#337ab7;
}
.backgroundProperty{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.clear{
    display: block;
    clear:both;
    height:30px;
}
.no-padding{
  padding: 0 !important;
}
.littleMarginTop{
  margin-top: 20px;
}
.padding-left{
    padding-left: 15px !important;
}
.noPaddingLeft{
    padding-left:0;
}
h1{
  color:#333;
}
input{
  width: 100%;
  border:1px solid#eee;
  border-radius: 3px;
}
.btn-default{
  background-color: #C83D31;
  border-radius: 0;
}
.btn-default:hover{
  background-color: #333;
  transition:all .2s ease-in-out;
  color:white;
}
/* NAV */
nav{
  background:#eee !important;
  line-height: 50px;
}
nav .chooseCat{
  padding:10px;
  border:none;
  height: 35px;
  color:white;
  background:#C83D31;
  outline:none;
}
.logoNav{
    width: 50px;
}
/* HOME HEADER */
.homeHeader{
    height:200px;
    background:url('../img/pub/header.gif');
}
.searchByCatTab{
  height:140px;
  background: #C83D31;
  border:1px solid #eee;
}
.searchInput{
  margin: 20px;
  margin-left:0;
  width: 100%;
  border:1px solid#eee;
  padding:5px;
}
.contentTabs{
  margin: 10px;
}
.adRightNextToCatTab{
  background:url('../img/pub/1.gif');
  height: 140px;
}
.nav-tabs{
  padding-top: 20px;
}
.nav-tabs > li > a{
  color:white;
}
.nav-tabs > li.active > a{
  background:#eee;
  color:#333;
}
.nav-tabs > li > a:hover{
  background:white;
  color:#333;
}
.nav-tabs > li.active > a:hover{
  background:white;
  color:#333;
}
/* TOP SHOW */
.topShows{
    background: #eee;
    padding-bottom:20px;
}
.singleShow{
    padding:15px;
    height: 300px;
}
.titleSingleShow{
    margin-top: 0;
    font-size: 22px;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 0;
    color:#C83D31;
}
.dividerUnderTitle{
  display: block;
  height: 2px;
  margin-bottom: 10px;
  background-color: #C83D31;
}
.viewCatLink{
    text-align: right;
    color:#C83D31;
}
.videoSingleShow{
    background: lightblue;
    height: 100%;
}
.contentSingleShow{
    background: white;
    height: 100%;
}
.textSingleShow{
    padding:20px;
}
/* FOOTER */
footer{
    background:#666666;
    height:200px;
    clear:both;
    margin-top: 50px;
    padding-top: 30px;
}
footer a{
  color:white;
}
.fa{
    color: #000;
}
.socialLink{
    text-align: left;
}
.socialLink ul{
    padding-left: 0;
}
.socialLink li{
    margin-top: 20px;
    list-style-type: none;
    display: inline-block;
}
/* carousel */
.logoAd{
    width: 200px;
}
.thumbnail{
    border:none;
}
.media-carousel img{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border:1px solid#eee;
}
.media-carousel img:hover{
    border-radius: 0;
    transition: all .4s ease-in-out;
}
.media-carousel{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 50px;
}
/* Next button  */
.media-carousel .carousel-control.right{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 50px;
}
.media-carousel .carousel-indicators{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
.media-carousel .carousel-indicators li{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active{
    background: #333333;
}

/* AD carousel */


/* IMAGES */

.logo{
    width: 10%;
    height:auto;
}

/* LOGIN PAGE */
.loginForm{
  background: #eee;
  padding: 20px;
  margin-top:50px;
}
.rememberMe{
  margin-top: 20px;
}
#remember_me{
  display: inline-block;
  width: auto;
}
.loginTitle{
  padding:20px;
  padding-top: 0;
  padding-left: 0;
  font-size: 18px;
}
.loginBtn{
  display: block;
  margin:auto;
  width:200px;
  padding:10px;
}
form input{
  margin-top:10px;
  padding: 10px;
}
.notRegisteredYet{
  font-style: italic;
  color:#333;
  text-align: center;
  display: block;
  margin-top:20px;
}
/* REGISTER PAGE */
.fos_user_registration_register{
  background: #eee;
  padding: 20px;
  margin-top:50px;
}
/* PROFILE PAGE */
.userInfo{
  background: #EEE;
  padding:15px;
}
.userReactions{
  background: #EEE;
  padding:15px;
}
.commentedShows h3{
  color:#333;
  margin-top: 0;
}
.likedShows h3{
  color:#333;
  margin-top: 0;
}
.singleShowLikedOnProfile{
  padding:10px;
  background: white;
  margin-bottom: 20px;
}
/* SINGLE SHOW PAGE */
.singleShowPage form{
  margin-bottom: 0;
  display: inline-block;
}
.singleShowPage iframe{
  background:black;
    height:710px;
  margin-bottom: 10px;
}
.singleShowPage #form_save{
  background:white;
  border:1px solid #C83D31;
  color:#C83D31;
  border-radius:3px;
}
.singleShowPage #form_save:hover{
  background:#C83D31;
  color:white;
  transition:all .2s ease-in-out;
}
/* LISTE EMISSIONS PAGE */
.listeEmissions li{
    list-style: none;
    color:black;
}

/* LISTE COMMENTAIRE */
.commentList{
    background:white;
    padding-left: 0 !important;
}
.commentList li{
    color:black;
    list-style: none;
    border-bottom:1px solid#eee;
    padding:10px;
}
.commentList li:last-child{
    border-bottom: none;
}