{% extends "::base.html.twig" %}

{% block title %}AppBundle:TVShow:index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des émissions</h1>
        <ul class="listeEmissions">
            {% for show in shows %}
            <li>{{ show.name }}</li>
        </ul>
                </div>
    {% endfor %}
{% endblock %}
